# Ignore everything in ifcbdata and Figs
EmpyricalAnalysis/IFCBdata/*
EmpyricalAnalysis/Figs/*
Modeling/IFCBdata/*
Modeling/Figs/*
EmpyricalAnalysis/Notebooks/Utils/CSwift_export_annotations_from_pg_classify_only.py
.conda/*
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
EmpyricalAnalysis/Notebooks/Utils/class_taxonomicSort/data/*

# But keep this placeholder
!EmpyricalAnalysis/IFCBdata/.gitkeep
!EmpyricalAnalysis/Figs/.gitkeep
!Modeling/IFCBdata/.gitkeep
!Modeling/Figs/.gitkeep
!EmpyricalAnalysis/Notebooks/Utils/class_taxonomicSort/data/raw/.gitkeep
!EmpyricalAnalysis/Notebooks/Utils/class_taxonomicSort/data/processed/.gitkeep

