# Ignore everything in ifcbdata and Figs
EmpyricalAnalysis/IFCBdata/*
EmpyricalAnalysis/Figs/*
Modeling/IFCBdata/*
Modeling/Figs/*
EmpyricalAnalysis/Notebooks/Utils/CSwift_export_annotations_from_pg_classify_only.py


# But keep this placeholder
!EmpyricalAnalysis/IFCBdata/.gitkeep
!EmpyricalAnalysis/Figs/.gitkeep
!Modeling/IFCBdata/.gitkeep
!Modeling/Figs/.gitkeep


