# Ignore everything in ifcbdata and Figs
EmpyricalAnalysis/IFCBdata/*
EmpyricalAnalysis/Figs/*
Modeling/IFCBdata/*
Modeling/Figs/*

# But keep this placeholder
!EmpyricalAnalysis/IFCBdata/.gitkeep
!EmpyricalAnalysis/Figs/.gitkeep
!Modeling/IFCBdata/.gitkeep
!Modeling/Figs/.gitkeep


